<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KuGuan.Properties.Settings.ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\data\kuguan.mdf;Integrated Security=True;Connect Timeout=300"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>